dnspython==2.1.0
PyNaCl
async-timeout
python-dotenv==0.19.2
apscheduler==3.8.1
python-dateutil
nest-asyncio
IMDbPY
youtube_dl
pytz~=2021.1
mysql-connector-python~=8.0.25
validators~=0.18.2
git+git://github.com/Pycord-Development/pycord.git@master
git+git://github.com/ritiek/spotify-downloader.git
tqdm==4.62.3
ypc==1.7.2